{
    "capture": {
        "device_ip": "192.168.5.14",
        "enabled": true,
        "filter": "(tcp port 7075 or udp port 7075)",
        "max_capture_megabytes": 8192,
        "block_details": false
    },
    "database": "capture.db",
    "web": {
        "bind": "0.0.0.0",
        "enabled": true,
        "port": 7077,
        "max_query_result": 5000
    }
}
